*, *:before, *:after {
box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

a:link, a:visited {
    color: #A6A4A4;
    text-decoration: none;	
}

a:hover, a:active {
    color: #EB8F81;
    text-decoration: none;	
}
header {
    border-bottom: medium solid #A6A4A4;
}
header h1 {
    font-size: 5em;
    line-height: 1em;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -70px;
}
#topNav {
    padding-top: 50px;

}

#topNav ul {
    text-align: right;
}
#topNav ul li {
    display: inline-block;
    text-align: right;
    padding-right: 39px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', san-serif;
    font-weight: 700;
}

body {
    color: #A6A4A4;
    ;
    ;
    font-size: 1.4em;
    font-weight: 400;
    background-color: #B5EBD1;
    font-family: Raleway;
}

#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
    padding-top: 35px;
    background-color: #DEFFF0;
    margin-bottom: auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -8px;
}
main {
}
#graphicDesign {
    background-color: rgba(166,164,164,0.24);
}
#graphicDesignTitle {
    text-align: center;
    padding-top: 0px;
    background-color: #EB8F81;
}
#graphicDesignTitle h1 {
    color: rgba(212,225,212,1.00);
    font-size: 4rem;
    padding-bottom: 10px;
}
#graphicDesign .container {
    position: relative;
    /* [disabled]overflow: hidden; */
    background-color: rgba(90,134,91,1.00);
    padding-bottom: 5px;
    padding-top: 1px;
	}
#graphicDesign .container h2 {
    text-align: left;
    padding-left: 25px;
    /* [disabled]display: inline-block; */
    background-color: rgba(212,225,212,1.00);
    padding-bottom: 5px;
}

#graphicDesign .container ul {
    list-style-type: none;
    text-align: center;
}
#graphicDesign .container ul li {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: thin solid rgba(235,143,129,1.00);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
}
.iterationContainer {
    position: relative;
    background-color: rgba(235,143,129,1.00);
    padding-bottom: 5px;
    padding-top: 1px;
    margin-top: 20px;
}
.iterationContainer h2 {
    text-align: left;
    padding-left: 25px;
    background-color: rgba(212,225,212,1.00);
    padding-bottom: 5px;
}
.iterationContainer ul {
    list-style-type: none;
}
.iterationContainer ul li {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: thin solid rgba(212,225,212,1.00);
    padding-left: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    list-style-type: none;
    margin-top: 9px;
    margin-right: 9px;
    margin-bottom: 9px;
    margin-left: 9px;
}
#illustration .container {
    position: relative;
    background-color: rgba(90,134,91,0.40);
    padding-bottom: 5px;
    padding-top: 1px;
    margin-top: 20px;
}
#illustration .container h2 {
    text-align: left;
    padding-left: 25px;
    background-color: rgba(212,225,212,1.00);
    padding-bottom: 5px;
}
#illustration .container ul {
    list-style-type: none;
    text-align: center;
}
#illustration .container ul li {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border: thin solid rgba(235,143,129,1.00);
    padding-left: 25px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    background-color: rgba(235,143,129,1.00);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.illustrationIterationContainer {
    position: relative;
    background-color: rgba(235,143,129,1.00);
    padding-bottom: 5px;
    padding-top: 1px;
    margin-top: 20px;
}
.illustrationIterationContainer h2 {
    text-align: left;
    padding-left: 25px;
    background-color: rgba(212,225,212,1.00);
    padding-bottom: 5px;
}
.illustrationIterationContainer ul {
    list-style-type: none;
    text-align: center;
}
.illustrationIterationContainer ul li {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: thin solid rgba(166,164,164,1.00);
    padding-left: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    background-color: rgba(166,164,164,1.00);
}


























#graphicDesignProject {
    margin-left: 25px;
    border: thin solid #EB8F81;
    border-radius: 3px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 0px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}
#graphicDesignProject p {
    margin-left: 0px;
    margin-right: 15px;
    padding-bottom: 0px;
}
#graphicDesignProject aside {
    padding-right: 515px;
    margin-right: 27px;
    padding-top: 0px;
    margin-left: 1px;
    margin-bottom: 25px;
    padding-bottom: 1px;
    border: thin solid #5A865B;
    background-repeat: no-repeat;
}
#graphicDesignProject aside h2 {
    margin-left: 36px;
    padding-top: 16px;
}
#graphicDesignProject aside ul li {
    display: list-item;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    margin-right: -511px;
    margin-bottom: 0px;
}
#graphicDesignResult {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #5A865B;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#graphicDesignResult h2 {
    color: #D4E1D4;
    margin-left: 15px;
    padding-top: 15px;
}
#graphicDesignResult p {
    color: #D4E1D4;
    margin-left: 15px;
    padding-top: 15px;
}
#illustration {
    background-color: rgba(166,164,164,0.24);
    padding-top: 1px;
    padding-bottom: 6px;
}
#illustrationTitle {
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
    padding-top: 0px;
    background-color: #EB8F81;
}
#illustrationTitle h1 {
    color: rgba(212,225,212,1.00);
    font-size: 4rem;
    padding-top: 0px;
    margin-top: -6px;
}





#illustrationProject {
    margin-left: 25px;
    border: thin solid #EB8F81;
    border-radius: 3px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 0px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#illustrationProject p {
    margin-left: 0px;
    margin-right: 15px;
    padding-bottom: 0px;
}

#illustrationProject aside {
    padding-right: 515px;
    margin-right: 27px;
    padding-top: 0px;
    margin-left: 1px;
    margin-bottom: 25px;
    padding-bottom: 1px;
    border: thin solid #5A865B;
    background-repeat: no-repeat;
}
#illustrationProject aside h2 {
    margin-left: 36px;
    padding-top: 16px;
}


#illustrationProject aside ul li {
    display: list-item;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    margin-right: -511px;
    margin-bottom: 0px;
}
#illustrationResult {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #EB8F81;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#illustrationResult h2 {
    color: #D4E1D4;
    margin-left: 15px;
    padding-top: 15px;
}
#illustrationResult p {
    color: #D4E1D4;
    margin-left: 15px;
    padding-top: 15px;
}




#publicationDesign {
    background-color: rgba(166,164,164,0.24);
    padding-bottom: 6px;
    padding-top: 1px;

}







#publicationTitle {
    margin-top: -25px;
    margin-bottom: 35px;
    text-align: center;
    background-color: #EB8F81;
}

#publicationTitle h1 {
    color: rgba(212,225,212,1.00);
    font-size: 4rem;
}
#publicationProject {
    margin-left: 25px;
    display: inline-block;
    border: thin solid #EB8F81;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 0px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}
main #publicationProject p {
    margin-left: 0px;
    margin-right: 15px;
    padding-bottom: 0px;
}
main #publicationProject aside {
    padding-right: 515px;
    margin-right: 27px;
    padding-top: 0px;
    margin-left: 1px;
    margin-bottom: 25px;
    padding-bottom: 1px;
    background-repeat: no-repeat;
    border: thin solid #5A865B;
}
#publicationProject aside h2 {
    margin-left: 36px;
    padding-top: 16px;
}
#publicationProject aside ul li {
    display: list-item;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    margin-right: -511px;
    margin-bottom: 0px;
}

#result {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #5A865B;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#illustrationResult {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #5A865B;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}


#result h2 {
    color: #D4E1D4;
    margin-left: 15px;
    padding-top: 15px;
}

#result p {
    color: #D4E1D4;
    margin-left: 15px;
    padding-top: 15px;
}





main #galleryAll {
    /* [disabled]margin-top: 25px; */
    /* [disabled]margin-left: 25px; */
    /* [disabled]margin-right: 25px; */
    background-color: rgba(235,143,129,0.30);
    padding-bottom: 50px;
    padding-top: 25px;

}
main #aboutDescription {
    background-color: rgba(235,143,129,0.26);
    margin-top: -30px;
}
#aboutDescriptionBody {

}
#aboutDescription img {
    float: right;
    margin-right: 35px;
    padding-left: 15px;
    margin-left: 0px;
    border-radius: 32px;
    border-collapse: separate;
    border-spacing: 6px 2px;
    background-color: rgba(235,143,129,1.00);
}



#aboutDescription h1 {
    padding-right: 0px;
    color: #A6A4A4;
    padding-top: 25px;
    margin-left: 45px;
}
#aboutDescription p {
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding-right: 25px;
    color: #A6A4A4;
    margin-left: 50px;
}
#aboutDescription #iframe {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}
#iframe .iframe_Boarder {
    border: medium solid #5A865B;
    margin-left: 170px;
    margin-right: 170px;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 1px;
}



#galleryIntro {
    width: 30%;
    margin-left: 25px;
    float: left;
    border-radius: 0px;
    margin-right: 25px;
    padding-right: 15px;
    margin-top: 8px;
    border: thin solid #EB8F81;
    /* [disabled]padding-bottom: 25px; */
}
#galleryIntro h1 {
    text-align: right;
    font-size: 3.6rem;
    line-height: 3.7rem;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 3px;
    margin-left: 10px;
}
#galleryIntro h1 {
    padding-bottom: 0px;
    margin-bottom: -10px;
}

#galleryIntro p {
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-left: 15px;
}
#galleryAll div .dot {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: #EB8F81;
    display: inline-block;
    list-style-type: none;
    margin-left: 49px;
    margin-top: 9px;
    text-align: center;
}

.galleryRow {
	display: flex;
  	flex-wrap: wrap;
  	padding: 0 4px;
}
.galleryColumn {
    flex: 50%;
    max-width: 50%;
    padding-right: 6px;
}
.galleryRow .galleryColumn .container {
	position: relative;
  width: 100%;
  max-width: 300px;
}

.galleryColumn a img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
}
.galleryColumn .container .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: #D4E1D4;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}


/* gallery slide show */

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
    margin-bottom: -2px;
    margin-top: 4px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #D4E1D4;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(166,164,164,1.00);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #D4E1D4;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #EB8F81;
    padding-top: 11px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 2px;
    color: white;
}
.caption-container #caption {
    font-size: 2.5rem;
    padding-top: 0px;
    margin-top: -2px;
    margin-bottom: 13.5px;
    color: #D4E1D4;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* gallery slide show */

footer {
    margin-top: 60px;
    border-top: thin solid #5A865B;
    margin-bottom: -35px;
}
footer h1 {
    text-align: left;
    margin-left: 26px;
}


footer ul {
    text-align: center;
    list-style-type: none;
    margin-top: -70px;
}

footer ul li {
    display: inline-block;
    padding-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 20px;
}
